@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #fff;
  --foreground: #171717;
  --orange: #E63F0C;
  --orange-light: #F60;
  --enlace:#DB3C0B;
  --gray-dark: #333;
  --gray: #666;
  --gray-light:#F4F5FA;
  --gray-border: #A4A4A4;
  --disabled: #CCC;
  --bs-secondary: #8a8d93;
  --bs-secondary-rgb: 138, 141, 147;
  --bs-secondary-text-emphasis: #37383b;
  --bs-secondary-bg-subtle: #e8e8e9;
  --bs-secondary-border-subtle: #d0d1d4;
  --bs-secondary-color: rgba(109 103 119 / 75%);
  --bs-secondary-color-rgb: 109, 103, 119;
  --bs-secondary-bg: rgba(46 38 61 / 20%);
  --bs-secondary-bg-rgb: 46, 38, 61;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #e6e5e8;
  --bs-border-color-translucent: rgba(46 38 61 / 18%);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.625rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: #fff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, sans-serif;
}

.button{
  @apply p-2 font-semibold rounded-lg border-solid border-2 transition ease-in-out
   border-slate-800 dark:border-gray-900 
   text-slate-800 dark:text-stone-700 
   hover:text-gray-800 
   hover:bg-slate-200 dark:bg-slate-200
   dark:hover:text-gray-900
}

.to-yellow-500 {
  --tw-gradient-to: #f8bd97 var(--tw-gradient-to-position);
}

.from-orange-500 {
  --tw-gradient-from: #f60 var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 15%;
  }
}

.animate-progress {
  animation: progress 3s linear 1;
  
  /* Ajusta la duraci칩n y la funci칩n de tiempo */
}

.bg-fondo{
  background-image: url('/fondo.jpeg');
  background-size: cover;  /* Asegura que la imagen cubra el 치rea */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;  /* No repite la imagen */
  min-height: 100vh;  /* Asegura que ocupe todo el alto de la pantalla */
  width: 100%;  /* Asegura que ocupe todo el ancho de la pantalla */
  padding: 1rem;  /* Ajusta el padding a tu gusto */
}

.text-gray-700 {
  color: var(--gray-dark);
}

.text-gray-600 {
  color: var(--gray);
}

.border-gray-700 {
  border-color: var(--gray-dark);
}

.border-gray-600 {
  border-color: var(--gray-border);
}

.text-orange-600{
  color: var(--orange);
}

.text-orange-700{
  color: var(--enlace);
}

.text-disabled {
  color: #F5F5F5
}

.bg-orange-600 {
  background-image: linear-gradient( var(--orange-light), var(--orange));
}

.bg-gray-500 {
  background-color: var(--disabled);
}

.bg-gray-100 {
  background-color: var(--gray-light);
}

.p-button {
  padding: 6px 30px;
}


.btn-close {
  --bs-btn-close-color: #6d6777;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236d6777'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: none;
  --bs-btn-close-focus-opacity: 0.75;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);

  box-sizing: content-box;
  width: 0.65rem;
  height: 0.65rem;
  padding: 0.25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/0.65rem auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}

.btn-close:hover {
  color: var(--bs-btn-close-color);
  text-decoration: none;
  opacity: var(--bs-btn-close-hover-opacity);
}

.btn-close:focus {
  outline: 0;
  box-shadow: var(--bs-btn-close-focus-shadow);
  opacity: var(--bs-btn-close-focus-opacity);
}

.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  user-select: none;
  opacity: var(--bs-btn-close-disabled-opacity);
}

.btn-close-white {
  filter: var(--bs-btn-close-white-filter);
}

.modal-warning {
  color: #F7A400 !important;
  border-color:#F7A400 !important;
  border-bottom-color:#F7A400 !important;
}

.modal-warning .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23634A1A'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.modal-danger {
  border-color: #D14434 !important;
  color: #D14434 !important;
  border-bottom-color:#D14434 !important;
}

.modal-danger .btn-close {
  opacity: 25%;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239E3328'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.modal-info {
  color: #296FF0 !important;
  border-color:#296FF0 !important;
  border-bottom-color:#296FF0 !important;
}

.modal-info .btn-close {
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2318428F'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");}

.modal-success {
  border-color: #0B843D !important;
  color: #0B843D !important;
  border-bottom-color:#0B843D !important;
}

.modal-success .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23166936'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");

}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 0.7rem;
  --bs-alert-padding-y: 0.6rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  --bs-alert-link-color: inherit;

  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  line-height: 1.375rem;
}

.alert .alert-icon {
  color: #fff;
  height: 1.875rem;
  width: 1.875rem;
  padding: 0.75rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-dismissible {
  padding-right: 2rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1rem;
}

.alert-danger {
  background-color: #F7EEED !important;
  border-color: #D14434 !important;
  color: #D14434 !important;
}

.alert-danger .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239E3328'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.alert-success {
  background-color: #CEF0DB !important;
  border-color: #0B843D !important;
  color: #0B843D !important;
}

.alert-success .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23166936'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.alert-warning {
  background-color: #FFF2D9 !important;
  border-color: #F7A400 !important;
  color: #F7A400 !important;
}

.alert-warning .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23634A1A'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.alert-info {
  background-color: #EDF2FA !important;
  border-color: #296FF0 !important;
  color: #296FF0 !important;
}

.alert-info .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2318428F'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.alert-dark {
  background-color: #F5F5F5 !important;
  border-color: #7F7F7F !important;
  color: #7F7F7F !important;
}

.alert-primary {
  background-color: #fff !important;
  border-color: #DB3C0B !important;
  color: #DB3C0B !important;
}

.alert-secondary {
  --bs-alert-color: var(--bs-secondary-text-emphasis);
  --bs-alert-bg: var(--bs-secondary-bg-subtle);
  --bs-alert-border-color: var(--bs-secondary-border-subtle);
  --bs-alert-link-color: var(--bs-secondary-text-emphasis);

  background-color: #ecedee;
  border-color: #ecedee;
  color: #8a8d93;
}

.alert-secondary .btn-close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238a8d93'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.alert-secondary .alert-link {
  color: #8a8d93;
}

.alert-secondary hr {
  background-color: #8a8d93 !important;
}

.alert-secondary .alert-icon {
  background-color: #8a8d93;
}

/* Bot칩n Gradiente */
.gradient-button {
  background: linear-gradient(-45deg, #ffa63d, #ff944d, #ff4300, #f60);
  background-size: 400% 400%;
  animation: gradient-animation 3s linear infinite;
  transition: transform 0.2s;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
